<!-- 
    PARAMETROS

task: pendingTasks[i], 
cardTitle: 'Pendiente', 
turnAction: 'Finalizar',
turnColor: 'success' ,
cardColorClass: 'primary',
turnIcon: 'fas fa-check',
showStorage: false -->

<div class="card border-<%= cardColorClass %> mb-3">
        <div class="card-header bg-<%= cardColorClass %> marker"><%= cardTitle %></div>
        <div class="card-body">
            <label>Titulo</label>
            <h5 class="card-title"><%= task.title %></h5>
            <label>Descripcion</label>
            <p class="card-text"><%= task.description %></p>
            <label>Fecha creacion</label>
            <p class="card-text"><%= moment(task.creationTime).format('DD-MM-YYYY') %></p>
            <label>Fecha programada</label>
            <p class="card-text"><%= moment(task.scheduleTime).format('DD-MM-YYYY') %></p>
            <a href="/turn/<%= task._id %>" class="btn btn-<%= turnColor %>"><i class="<%= turnIcon %>"></i> <%= turnAction %></a>
            <a href="/edit/<%= task._id %>" class="btn btn-info"><i class="fas fa-pen-square"></i></a>
            
            <% if(showStorage) { %>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a href="/delete/<%= task._id %>" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        <div class="btn-group" role="group">
                          <button id="btnGroupDrop4" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                            <a class="dropdown-item"  href="/delete/<%= task._id %>">Borrar</a>
                            <a class="dropdown-item" href="/storage/<%= task._id %>">Archivar</a>
                          </div>
                        </div>
                      </div>
            <% } else { %>   
                <a href="/delete/<%= task._id %>" class="btn btn-danger pull-right"><i class="fas fa-trash-alt"></i></a>   
            <% } %>     
            
        </div>
        <!-- <% if(showStorage) { %>
            <a href="/delete/<%= task._id %>" class="btn btn-outline-danger"><i class="fas fa-database"></i></a>
        <% } %>    -->
</div>   
