<!-- 
    PARAMETROS

task: pendingTasks[i], 
cardTitle: 'Pendiente', 
turnAction: 'Finalizar',
turnColor: 'success' ,
cardColorClass: 'primary',
turnIcon: 'fas fa-check',
showStorage: false -->

<div class="card border-<%= cardColorClass %> mb-3">
        <div class="card-header bg-<%= cardColorClass %> marker"><%= cardTitle %></div>
        <div class="card-body">
           <div class="form-group row">
            <!-- <label class="col-sm-2 col-form-label">Titulo</label> -->
            <h4><b class="col-sm-10 col-form-label col-md-offset-5"><%= task.title %></b> </h4>
           </div>              
            <p class="card-text"><%= moment(task.scheduleTime).format('DD-MM-YYYY') %></p>
            <% if(backVisible) { %>
                <a href="/Tasks/turnDown/<%= task._id %>" class="pull-right btn btn-<%= backColor %>"><i class="<%= turnIcon %>"></i> <%= backAction %></a>               
            <% } %>            
            <a href="/Tasks/edit/<%= task._id %>" class="btn btn-primary"><i class="fas fa-pen-square"></i></a>
                        
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        
                        <div class="btn-group" role="group">
                            <a href="/Tasks/storage/<%= task._id %>" class="btn btn-danger" di data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-trash-alt"></i></a>
                            
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">                           
                            <a class="dropdown-item" href="/Tasks/storage/<%= task._id %>">Seguro ?</a>                           
                          </div>
                        </div>
                      </div>                           
        </div>
        <% if(turnVisible) { %>
        <a href="/Tasks/turnUp/<%= task._id %>" class="btn btn-<%= turnColor %>"><i class="<%= turnIcon %>"></i> <%= turnAction %></a>
        <% } %>   
        
      
              
        <!-- <% if(showStorage) { %>
            <a href="/delete/<%= task._id %>" class="btn btn-outline-danger"><i class="fas fa-database"></i></a>
        <% } %>    -->
</div>   
<!-- <pre>
    <%= task %>
</pre> -->