<% include partials/_header %>

<div class="row">
    <div class="col-md-5">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Nuava tarea</h5>
                <form action="/add" method="POST">
                    <div class="form-group">
                        <input type="text" name="title" placeholder="titulo" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="description" placeholder="descripcion" class="form-control"></textarea>
                    </div>           
                    <button type="submit" class="btn btn-primary btn-block">
                        Listo!
                    </button>
                </form>
            </div>
        </div>
        <% for( var i = 0; i < doneTasks.length; i++) { %>
        <div class="card bg-success mb-3">
            <div class="card-header">Realizada <%= i + 1 %></div>
            <div class="card-body">
                <h5 class="card-title"><%= doneTasks[i].title %></h5>
                <p class="card-text"><%= doneTasks[i].description %></p>
                <p class="card-text"><%= doneTasks[i].creationTime %></p>
                <a href="/turn/<%= doneTasks[i]._id %>" class="btn btn-warning">Pasar a pendiente</a>
                <a href="/edit/<%= doneTasks[i]._id %>" class="btn btn-info">Editar</a>
                <a href="/delete/<%= doneTasks[i]._id %>" class="btn btn-danger pull-right">Borrar</a>                        
            </div>
        </div>                
        <% } %>
    </div>
    <div class="col-md-7">
        <% for( var i = 0; i < pendingTasks.length; i++) { %>
                <div class=" card border-info mb-3">
                    <div class="card-header">Pendientes <%= i + 1 %></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= pendingTasks[i].title %></h5>
                        <p class="card-text"><%= pendingTasks[i].description %></p>
                        <p class="card-text"><%= pendingTasks[i].creationTime %></p>
                        <a href="/turn/<%= pendingTasks[i]._id %>" class="btn btn-success">Finalizar</a>
                        <a href="/edit/<%= pendingTasks[i]._id %>" class="btn btn-info">Editar</a>
                        <a href="/delete/<%= pendingTasks[i]._id %>" class="btn btn-danger pull-right">Borrar</a>                        
                    </div>
                </div>                
        <% } %>
    </div>
</div>
 
<% include partials/_footer %>